<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
 
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" />
  <!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
  <script type="text/javascript" src="/javascripts/jquery.min.js"></script>

</head>
<body>
<div class="container">
    <header>
        <% ProjectName ="Instrument Management" %>
        <h1><%= ProjectName %></h1>
        <h3><%#= title %></h3>
    </header>
        <hr/>
        <div class="jumbotron">
    
 
<!-- content from partials below -->
