
<%- include header.html %>

<h3><%= title %></h3>

<!-- js code in html -->
<% if (errors.length > 0) %> 
<ul class="errors">
<% for(var i=0; i<errors.length; i++) { %>
   <li><%= errors[i] %></li>
<% } %>
</ul>

     <br/>
    
    <form name="newUser" id="newUser" autocomplete="off" method="post" action="/user/new" >


	<div>
		<label>Full Name </label>
		<input autofocus type="text" name="FullName" id="FullName" value="<%= name %>" />
	     	</div>
	      	<div>
		<label>Add Email </label>
		<input type="email" name="Email" id="Email" value="<%= email %>" />
		</div>
		<br/>
		<div>


		<input type="submit" value="<%= buttonText %>" />
		<input type="button" name="cancel" value="cancel"  onClick=" window.location='/user';" />
		
      </div>
    </form>

<%- include back-to-userprofile.html %>
<%- include footer.html %>

