
<%- include header.html %>

<h3><%= title %></h3>

    <strong><%= name %></strong>, are you sure you want to permanently delete your account? <br/>
     Your email address is <strong><%= email %></strong>.<br/>
     
    <br/><br/>
    <form id="formUserDelete" method="post" action="">
  
       <input type="hidden" name="_id" id="_id" value="<%= _id %>">
       <input type="submit" value="Yes, please delete it!">
       <input type="button" onClick="window.location='/user';" name="cancel" value="cancel" />
    </form>
        
<%- include footer.html %>
